USE [master]
GO
/****** Object:  Database [PRJ311_DE130111]    Script Date: 7/29/2019 8:55:27 AM ******/
CREATE DATABASE [PRJ311_DE130111]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ311_DE130111', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PRJ311_DE130111.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ311_DE130111_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PRJ311_DE130111_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ311_DE130111].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ311_DE130111]
GO
/****** Object:  User [Product_DE130111]    Script Date: 7/29/2019 8:55:28 AM ******/
CREATE USER [Product_DE130111] FOR LOGIN [Product_DE130111] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Product_DE130111]
GO
/****** Object:  Table [dbo].[Product_DE130111]    Script Date: 7/29/2019 8:55:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_DE130111](
	[sProduct_ID] [char](5) NOT NULL,
	[sProduct_Name] [nvarchar](30) NULL,
	[sUnit] [nvarchar](30) NULL,
	[sPrice] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sProduct_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
